 <%= render 'shared/nav' %>

 <%# <%# <h2 class="text-center">Profile Info</h2><br> %>

<%# <form>
  <div class="form-group row">
    <label class="col-sm-2 offset-md-1 col-form-label">First Name</label>
    <div class="col-sm-6 offset-md-1">
      <input type="text" class="form-control" placeholder="First name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 offset-md-1 col-form-label">Last Name</label>
    <div class="col-sm-6 offset-md-1">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 offset-md-1 col-form-label">Address 1</label>
    <div class="col-sm-6 offset-md-1">
      <input type="text" class="form-control" placeholder="Address 1">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 offset-md-1 col-form-label">Address 2</label>
    <div class="col-sm-6 offset-md-1">
      <input type="text" class="form-control" placeholder="Address 2">
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 offset-md-1 col-form-label">City</label>
    <div class="col-sm-6 offset-md-1">
      <input type="text" class="form-control" placeholder="City">
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 offset-md-1 col-form-label">State</label>
    <div class="col-sm-6 offset-md-1">
      <input type="text" class="form-control" placeholder="State">
    </div>
  </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 offset-md-1 col-form-label">Zipcode</label>
    <div class="col-sm-6 offset-md-1">
      <input type="text" class="form-control" placeholder="Zipcode">
    </div>
  </div>
  <button> Save </button> %>
    <%# <%= link_to 'Profile', edit_profile_path, class: "btn btn-primary" %>  %>
<%# </form> %> %>

        <%= bootstrap_form_with(model: @profile) do |form| %>
          <%= form.text_field :first_name, label: "First Name:" %>
          <%= form.text_field :last_name, label: "Last Name:" %>
          <%= form.text_field :phone, label: "Phone:" %>
          <%= form.text_field :address1, label: "Address 1:" %>
          <%= form.text_field :address2, label: "Address 2:" %>
          <%= form.text_field :city, label: "City:" %>
          <%= form.text_field :state, label: "State:" %>
          <%= form.text_field :zipcode, label: "Zipcode:" %>
          <%= form.submit class: "btn btn-success", value: "Save"%>
        <% end %>


