
 
 <%= render 'shared/nav' %> 

<h1 class="devise-head">My Favorites</h1>

<div class="container">

  <table class="table table-hover table-striped">
    <thead>
      <tr class="tb-header">
        <th>
          Location:
        </th>
        <th>
          Address:
        </th>
        <th>
          Phone #:
        </th>
        <th>
        </th>
      </tr>
    <thead> 

    <% @favorites.each do |f| %>
    <tr class="favorite-locations">
      <td>
        <%= f.name %>
      </td>
      <td>
       <%= f.address %>
      </td>
      <td>
        <%= f.phone%>
      </td>
        
      <td>
        <span><%= link_to '', favorite_path(id: f.id), method: :delete, class: 'fas fa-trash-alt del-icon', data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

