
 
 

<h1 class="devise-head">My Favorites</h1>

<div class="container">

  <table class="table table-hover table-striped">
    <thead>
      <tr class="tb-header">
        <th>
          Location:
        </th>
        <th>
          Address:
        </th>
        <th>
          Phone #:
        </th>
        <th>
          Delete
        </th>
      </tr>
    <thead> 

    <% @favorites.each do |f| %>
    <tr id="favorite " >
      <td>
        <%= f.name %>
      </td>
      <td>
       <%= f.address %>
      </td>
      <td>
        <%= f.phone%>
      </td>
        
      <td>
        <span><%= link_to '', favorite_path(id: f.id), method: :delete, class: 'fas fa-trash-alt', data: { confirm: 'Are you sure?' }%>
        
         <%# </span>
        <%= form_for @favorite, :url => { :action => "destroy" } %>
          <%# <%= f.hidden_field :post_id, :value => @favorite.id %> %>
        <%# <% end %> %> %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

