  
    <nav class="navbar navbar-expand-md nav-bar">
      <%= image_tag("logo-icon3.png", class: "photo") %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon hamburger"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

    <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Locations', locations_new_path, class: 'nav-links' %> 
        </li>
    <% end %>

      </ul>
      <ul class="navbar-nav navbar-right">

      <% if current_user %>
        <li class="nav-item">
          <%= link_to 'Edit Account', edit_user_registration_path, class: 'nav-links' %> 
        </li>
      <% if (current_user.profile == nil) %>
        <li class="nav-item">
          <%= link_to 'Add Profile', new_profile_path, class: 'nav-links' %> 
        </li>
      <% else %>
        <li class="nav-item">
        <%= link_to 'Edit Profile', edit_profile_path(id: current_user.profile.id), class: 'nav-links' %>
        </li>
      <% end %>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-links'  %>
        </li>
        <% end %>

      </ul>
    </div>  
  </nav>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

