<h1>Friend#meet_up_mailer</h1>

<p>
  <%= @greeting %>, find me in app/views/friend_mailer/meet_up_mailer.html.erb
</p>
 
 
<%# <h3 class="text-center">Email</h3> %>

 <%# <%= render 'shared/nav' %> %>
 
<%# <h3 class="text-center">Email</h3> %>


<%=form_with  do |f| %>
  <%= f.email_field :email %>
  
  <%= f.submit "Send", class: "col-md-6 offset-md-3" %>
 <% end %>

<%# <%= form_tag({controller: "email_models", action: "create"}, method: "post") do%>
<%# Email : <br><%= text_field_tag 'email', ''%>
<%# subject: <br><%= text_field_tag 'subject', ''%>
<%# Body:<%= text_area_tag 'body', ''%> 
<%# <%= submit_tag "submit",:value => "submit"%> 
<%# <%end%> 

