<h1>Friend#meet_up_mailer</h1>

<p>
  <%= @greeting %>, find me in app/views/friend_mailer/meet_up_mailer.html.erb
</p>
 <%= render 'shared/nav' %>
 
<h3 class="text-center">Email</h3>

 <%= render 'shared/nav' %>
 
<h3 class="text-center">Email</h3>

<%# @user is not being used at the moment %>
<%= bootstrap_form_with(model: @user) do |f| %>
  <%= f.email_field :email %>
  <%= f.hidden%>
  <%= f.submit "Send", class: "col-md-6 offset-md-3" %>
<% end %>

