Friend#meet_up_mailer

<%= @greeting %>, find me in app/views/friend_mailer/meet_up_mailer.text.erb
<p>Please meet me at:
    <%= NAME OF PLACE%>
    <%= ADDRESS %>
    <%= PHONE %></p>

      <%=@body%>