<!DOCTYPE html>
<html>
  <head>
    <title>Midpoint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV0BbqjHJon1D5yf5O65xO2PkfvdCyZW8&libraries=places&callback=initMap" defer></script> %>
    <%# <%= javascript_include_tag 'application','data-turbolinks-track': 'reload', defer: true %> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:700|Roboto:500" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href=“//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css” rel=“stylesheet”>
    
  </head>

  <body>
    <%# <div class="container" id="container-size">
      <div class="row">
        <div class="col-md-12">

         
    
       </div>
      </div>
    </div> %>
   <%= yield %>


  <%# <%= js add_gritter(flash[:notice], title: "Midpoint notification", sticky: false) %>  
  </body>
</html>
